<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View or Edit Profile</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <img src="../images/logo.png" id="logo">
        <h1>View | Edit Profile</h1>
        <nav>
            <ul>
                <li><a href="subProfile">Back</a></li>
                <li><a href="studentPage">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="section-container">
            <section class="edit-section">
                <h2 class="edit-profile">Edit Your Profile</h2>
                <form id="editForm">
                    {{#each userData}}
                    <div class="image-container">
                        <!-- Display user image -->
                        <img src='{{this.image}}' alt="Round Image" class="round-image">
                        <button type="button" class="edit-button">Change Photo</button>
                    </div>
                    
                    <!-- Email input field -->
                    <label for="email">DLSU Email:</label>
                    <input type="text" id="email" name="email" value= '{{this.email}}' readonly>

                    <!-- FirstName input field -->
                    <label for="FirstName">First Name:</label>
                    <input type="text" id="FirstName" name="FirstName" value='{{this.firstName}}'>

                    <!-- LastName input field -->
                    <label for="LastName">Last Name:</label>
                    <input type="text" id="LastName" name="LastName" value='{{this.lastName}}'>

                    <!-- Password input field -->
                    <label for="password">Password:</label>
                    <input type="text" id="password" name="password" value='{{this.password}}'>
                    {{/each}}

                    <!-- Submit button to save changes -->
                    <button type="button" class="edit-button" id="saveButton">Save</button>
                </form>
            </section>
        </div>
    </main>
    <footer class="edit-footer">
        <p>&copy; 2024 LabLink. All rights reserved.</p>
    </footer>
</body>
</html>